{
  "root": true,
  "ignorePatterns": ["src/**/*"],
  "overrides": [
    {
      "files": "*.ts",
      "plugins": ["@typescript-eslint", "prettier", "import", "tsdoc", "jest"],
      "extends": [
        "prettier",
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/recommended",
        "plugin:import/typescript"
      ],
      "rules": {
        "tsdoc/syntax": "error",
        "import/prefer-default-export": "off",
        "comma-dangle": [
          "error",
          {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "always-multiline",
            "exports": "never",
            "functions": "always-multiline"
          }
        ],
        "max-len": [
          "error",
          {
            "code": 100,
            "tabWidth": 2,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true,
            "ignoreUrls": true,
            "ignoreRegExpLiterals": true,
            "ignoreComments": true
          }
        ],
        "no-empty": [
          "error",
          {
            "allowEmptyCatch": true
          }
        ],
        "no-trailing-spaces": [
          "error",
          {
            "ignoreComments": true
          }
        ],
        "no-console": [
          "error",
          {
            "allow": ["warn", "error"]
          }
        ],
        "import/order": [
          "error",
          {
            "newlines-between": "always",
            "alphabetize": {
              "order": "asc"
            }
          }
        ]
      },
      "env": {
        "browser": true,
        "es2021": true,
        "node": true,
        "jest": true
      },
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": [
          "tsconfig.json",
          "src/tsconfig.json",
          "scripts/tsconfig.json"
        ],
        "ecmaVersion": "latest",
        "sourceType": "module"
      },
      "settings": {
        "import/parsers": {
          "@typescript-eslint/parser": [".ts"]
        }
      }
    },
    {
      "files": "*.js",
      "plugins": ["prettier", "import"],
      "extends": [
        "prettier",
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings"
      ],
      "rules": {
        "max-len": [
          "error",
          {
            "code": 100,
            "tabWidth": 2,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true,
            "ignoreUrls": true,
            "ignoreRegExpLiterals": true,
            "ignoreComments": true
          }
        ],
        "no-empty": [
          "error",
          {
            "allowEmptyCatch": true
          }
        ],
        "no-trailing-spaces": [
          "error",
          {
            "ignoreComments": true
          }
        ],
        "no-console": [
          "error",
          {
            "allow": ["warn", "error"]
          }
        ],
        "import/order": [
          "error",
          {
            "newlines-between": "always",
            "alphabetize": {
              "order": "asc"
            }
          }
        ]
      },
      "env": {
        "browser": true,
        "es2021": true,
        "node": true
      }
    }
  ]
}
