## OS' and other general stuff
# Linux Sys
*~
.Trash-*
# Windows
*.lnk
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
$RECYCLE.BIN/
# macOS
._*
# Icon must end with two \r
Icon


.DS_Store
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.DocumentRevisions-V100

## Editors/IDE's
# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
# JetBrains
.idea/
.idea_modules/
/out/
# Vim
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
tags
.netrwhist
*~

# Node, tsc, etc.
/logs
/dist
/node_modules/
/coverage
/typings/
*.log*
*.lcov
*.tsbuildinfo
.*cache
