{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-sh"],
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "trailingComma": "all"
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "acorn"
      }
    },
    {
      "files": "*.{sh,bash,zsh}",
      "options": {
        "parser": "sh",
        "indent": 2,
        "functionNextLine": false,
        "keepPadding": false,
        "spaceRedirects": false,
        "switchCaseIndent": true,
        "binaryNextLine": true
      }
    }
  ]
}
